.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; 
    margin-top: 250px;
}
/* Cores criadas para a div "card" */
.green {
    background: green;
    width: 30%;
    height: 220px;
    border-radius: 10px;
    margin-top: 130px;
    margin-left: 50px;
}
.yellow {
    background: yellow;
    width: 30%;
    height: 220px;
    border-radius: 10px;
    margin-top: 130px;
    margin-left: 50px;
}
.orange {
    background: orange;
    width: 30%;
    height: 220px;
    border-radius: 10px;
    margin-top: 130px;
    margin-left: 50px;
}

/* button */
.btns{
    width: 100px;
    height: 50px;
    margin-left: 30px;
    border-radius: 10px;
}

/* div */
.div-green{
    width: 15px;
    height: 15px;
    background: green;
    border-radius: 7.5px;
    position: absolute;
}
.div-yellow{
    width: 15px;
    height: 15px;
    background: yellow;
    border-radius: 7.5px;
    position: absolute;
}
.div-orange{
    width: 15px;
    height: 15px;
    background: orange;
    border-radius: 7.5px;
    position: absolute;
}
