body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; 
    font-family: 'Nunito Sans', sans-serif;
    background: rgba(128, 128, 128, 0.486);
}
.container{
    margin-top: 250px;
    width: 80%;
    height: 490px;
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0px 1px 10px 1px #000;
}

/* Cores criadas para a div "card" */
.green {
    background: green;
    width: 320px;
    height: 220px;
    border-radius: 10px;
    margin: auto;
    margin-top: 150px;
}
.yellow {
    background: yellow;
    width: 320px;
    height: 220px;
    border-radius: 10px;
    margin: auto;
    margin-top: 150px;
}
.orange {
    background: orange;
    width: 320px;
    height: 220px;
    border-radius: 10px;
    margin: auto;
    margin-top: 150px;
}

/* button */
.btn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin: auto;
    background-color: #a200ff81;
    color: #fff;
    border: none;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    background: rgba(128, 128, 128, 0.486);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

/* div */
.div-green{
    width: 13px;
    height: 13px;
    background: green;
    border-radius: 6.5px;
    margin-left: 5px;
    position: absolute;
}
.div-yellow{
    width: 13px;
    height: 13px;
    background: yellow;
    border-radius: 6.5px;
    margin-left: 5px;
    position: absolute;
}
.div-orange{
    width: 13px;
    height: 13px;
    background: orange;
    border-radius: 6.5px;
    margin-left: 5px;
    position: absolute;
}
